html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map_canvas {
  height: 100%;
}
.site-name {
  font-size: 46px;
  position: absolute;
  top: 12px;
  z-index: 3;
  left: 100px;
  font-family: 'Lobster Two', cursive;
  font-style: italic;
  color: #fff;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}
.finder-pane {
  z-index: 3;
  position: absolute;
  right: 100px;
  top: 40px;
}
.finder-pane__stats {
  padding: 15px 0px;
  width: 350px;
  background: #fff;
  margin-top: 10px;
  border-radius: 3px;
}
.finder-pane__stats__total {
  padding: 5px 15px;
}
.finder-pane__stats__highest {
  padding: 5px 15px;
}
.finder-pane__stats__highest_location {
  padding: 5px 15px;
}
.finder-pane__last5 {
  padding: 15px 0px;
  width: 350px;
  background: #fff;
  margin-top: 10px;
  border-radius: 3px;
}
.finder-pane__last5 table {
  font-size: 12px;
  width: 300px;
  position: relative;
  left: 20px;
}
.finder-pane__last5 td {
  padding-left: 20px;
  padding-top: 1px;
  padding-bottom: 3px;
}
.finder-pane__last5 th {
  padding-bottom: 8px;
  text-align: center;
  font-family: georgia;
  font-style: italic;
}
.finder-pane__last5__nothing {
  text-align: center;
}
.finder-pane__last5__data {
  text-align: left;
}
.finder-pane__last5__hr {
  border-top: 1px dotted #000;
  padding: 0px;
}
.finder-pane__last5__point-vals {
  text-align: center;
}
.finder-pane__last5__title {
  font-family: georgia;
  font-style: italic;
  font-size: 23px;
  padding: 10px 0px;
  text-align: center;
}
.finder-pane__last5__time {
  display: inline-block;
  color: #666;
}
.finder-pane__last5__ip {
  padding-left: 20px;
  display: inline-block;
  color: #666;
}
.finder-pane__inputs span {
  width: 120px;
  font-size: 18px;
  font-family: arial;
  display: inline-block;
  text-shadow: 1px 1px 2px #fafafa;
}
.finder-pane__inputs input {
  padding: 7px 10px;
  font-size: 14px;
}
.finder-pane__height {
  font-size: 13px;
  padding: 30px 0px;
  display: none;
  width: 300px;
}
.finder-pane__height__big {
  font-family: 'Lobster Two', cursive;
  font-style: italic;
  font-weight: normal;
  font-size: 46px;
  text-align: center;
  padding: 10px 0px;
}
.finder-pane__button {
  padding: 7px 10px;
}
