-$cnt = HeightRequest::count()
-if(!$cnt)
  .finder-pane__last5
    .finder-pane__last5__nothing
      There are no height requsts recorded.
-else
  .finder-pane__last5
    .finder-pane__last5__title
      -if($cnt == 1)
        Last request
      -elseif($cnt < 5)
        Last #{$cnt} requests:
      -else
        Last 5 requests:
    .finder-pane__last5__data
      %table(width='100%')
        %tr
          %th
            Latitude 
          %th
            Longitude
          %th
            Height
        -foreach(HeightRequest::last_n(5) as $v)
          %tr
            %td.finder-pane__last5__hr(colspan='3')
          %tr.finder-pane__last5__point-vals
            %td
              =$v->latitude 
            %td
              =$v->longitude
            %td
              =$v->height.'m.'
          %tr
            %td(colspan='3')
              .finder-pane__last5__time
                Time: #{$v->created->format('j.n.Y H:i')}
              .finder-pane__last5__ip
                Ip: #{mask_ip($v->ip)}
